/* 
    The stylings of the main window.
*/

#gpMainWindow{
    -fx-pref-width:700px;
    -fx-pref-height:700px;
    -fx-padding:10px;
}

.vb{
    -fx-padding:5px;
}

.hbDate{
    -fx-padding:5px;
}

.tf{

}