/* 
    The stylings of the main window.
*/

#gpMainWindow{
    -fx-pref-width:1000px;
    -fx-pref-height:680px;
    -fx-padding:10px;
}

#hbLogin{
    -fx-spacing:4px;
    -fx-padding:5px;
}

.vb{
    -fx-padding:5px;
}

.hbDate{
    -fx-padding:5px;
}

.tv{
    -fx-max-height:100px;
}

#tvFlights{
     -fx-min-width:600px;
}

#tvHotels{
    -fx-max-width:170px;
}

.lv{
    -fx-max-height:25px;
}